@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .dark {
    --background: 10 7 6;
    --foreground: 245 241 239;
    --primary: 235 94 40;
    --secondary: 66 109 98;
    --accent: 120 140 173;
  }

  .light {
    --background: 255 255 255;
    --foreground: 10 7 6;
    --primary: 215 74 20;
    --secondary: 46 89 78;
    --accent: 80 100 133;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(var(--foreground));
  border-bottom-color: rgb(var(--primary));
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
